@import "../../colors.css";

#hosts-management h1 {
    color: var(--text);
    margin-left: 30px;
    font-weight: bold;
    font-size: 30px;
}

#hosts-management table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#hosts-management th {
    background-color: var(--accent);
    border: 1px solid #a3a3a3;
    color: var(--text);
    padding: 10px 20px;
    text-align: left;
}

#hosts-management td {
    padding: 10px 20px;
    border: 1px solid #a3a3a3;
    position: relative;
}

#hosts-management tbody tr {
    background: #fff;
}

#hosts-management tbody tr:hover {
    background-color: #e2e2e2;
}

#hosts-management td:empty {
    color: #ccc;
}

#hosts-management td input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #a3a3a3;
    background: transparent;
    padding: 5px 0;
    font-family: inherit;
    font-size: inherit;
    color: black;
    outline: none;
}

#hosts-management td input:focus {
    border-bottom: 2px solid var(--accent);
}

#hosts-management .input-error {
    border-bottom: 2px solid red !important;
}

#hosts-management .error {
    color: red;
    font-size: 0.9em;
    margin-top: 4px;
}
