@import '../../../../node_modules/@fontsource/fira-mono';
@import "../../colors.css";
@import "../../popup.css";

html, body {
    font-family: 'Fira Mono', monospace;
    background-color: var(--background);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-container {
    position: relative;
}

h1 {
    color: var(--text);
    margin-left: 30px;
    font-weight: bold;
    font-size: 30px;
}

#sidenav {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -215px;
    background-color: var(--primary);
    overflow-x: hidden;
    padding-top: 30px;
    transition: left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 2px solid transparent;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#sidenav.open {
    left: 0;
    border-right: 2px solid transparent;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--text);
    display: block;
    font-weight: bold;
    white-space: nowrap;
}

.sidenav a:hover {
    color: #9d9da8;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.1);
}

.sidenav a.current_page_item {
    background-color: var(--accent);
    color: var(--text);
    padding: 10px;
    margin-left: 10px;
    margin-right: 5px;
    border-left: 5px solid transparent;
    border-radius: 15px;
}

.main {
    margin-left: 60px;
    transition: margin-left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    border-left: 2px solid transparent;
    background-color: var(--primary);
    flex: 1;
    flex-wrap: wrap;
    position: relative;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    box-sizing: border-box;
    align-items: flex-start;
}

.main.open {
    margin-left: 275px;
}

.nav-container,
.nav-container * {
    box-sizing: border-box;
}

.nav-link .material-icons {
    vertical-align: middle;
    float: right;
}

#sidenav.open .material-icons {
    visibility: hidden;
}

.main > .content-container {
    display: flex;
    flex-wrap: wrap;
}

.FloatingBox {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 15px;
    flex: 1 1 calc(33% - 20px);
    min-width: 450px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
}

.FloatingBox {
    max-width: 400px;
}


.boxItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxText {
    color: var(--text);
    font-weight: normal;
    font-size: 16px;
    margin-left: 40px;
}

.boxButton {
    background-color: var(--secondary);
    border: none;
    color: var(--text);
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

textarea.invalid {
    border: solid 2px red;
}

.FloatingBox .customRadioButton {
    display: none;
}

.FloatingBox .customRadio {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--text);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 40px;
}

.FloatingBox .customRadio::after {
    content: "X";
    font-size: 16pt;
    color: var(--accent);
    position: absolute;
    top: -2px;
    left: 4px;
    opacity: 0;
    transition: all 0.3s ease;
}

.FloatingBox .customRadioButton:checked + .customRadio::after {
    border-color: var(--text);
    opacity: 1;
}

.FloatingBox .customRadioLabel {
    display: flex;
    align-items: center;
    color: var(--text);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

#myInput {
    box-sizing: border-box;
    font-size: 16px;
    color: black;
    padding: 14px 20px 12px 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
}

#myInput:focus {
    outline: 3px solid #ddd;
}

.show {
    display: block;
}

#home .boxItem p {
    color: var(--accent);
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bold;
    text-align: center;
}

#home .boxHeader {
    color: var(--text);
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px;
    margin-top: 10px;
}

.floating-box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust this value to set space between boxes */
}