@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");
@import "../colors.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background);
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.popup-box {
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-box h2 {
    margin: 0 0 15px;
    padding: 0;
    color: var(--accent);
    text-align: center;
    text-transform: uppercase;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text);
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid var(--text);
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    margin-left: 0;
    font-size: 16px;
    color: var(--text);
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    color: var(--text);
}

button {
    display: inline-block;
    background-color: var(--accent);
    color: var(--primary);
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 2px;
    border-radius: 5px;
    border: transparent;
}

button:hover {
    background-color: #a67912;
    color: var(--primary);
}

.error {
    color: red;
    font-size: 14pt;
    margin: 10px 0;
}